@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ede6e3;
  color: #36382e;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
}
h2 {
  font-size: 2rem;
  font-weight: bold;
}
h3 {
  font-size: 1.5rem;
  font-weight: bold;
}
h4 {
  font-size: 1.25rem;
  font-weight: bold;
}

button {
  color: #36382e;
  background-color: #f06449;
  padding: 10px;
  width: 7rem;
  height: 3rem;
  border-radius: 5px;
  font-size: 1.25rem;
}
